#adminmenu {
	background: #004050;
	color: white;
	box-shadow:
		0 5px 15px 1px rgba(0, 0, 0, 0.6),
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}
/*heading styles*/
#adminmenu a {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	background: #003040;
	background: linear-gradient(#003040, #002535);
}
/*heading hover effect*/
#adminmenu a:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#adminmenu a span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#adminmenu li {
	list-style-type: none;
}
/*links*/
#adminmenu ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#adminmenu ul ul li a:hover {
	background: #003545;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#adminmenu ul ul {
	display: none;
}
#adminmenu li.active ul {
	display: block;
}



#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
    position: relative;
    z-index: 3;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    border: 0;
    margin-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #32373c;
}

#adminmenu .wp-submenu {

    position: relative!important;
    z-index: 3!important;
    top: auto!important;
    left: auto!important;
    right: auto!important;
    bottom: auto!important;
    border: 0!important;
    margin-top: 0!important;
    overflow: visible;
    word-wrap: break-word;
    display: none;
}


/*.wp-submenu.wp-submenu-wrap{
	display: none;
}*/
